:host {
  div {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 15px;

    img {
      padding: 5px;
    }

    .name {
      font-weight: 500;
    }

    .price {
      margin-top: 10px;
    }
  }
}
