:host {
  .target-machine {
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: black;
    background-color: #fcc800;
    height: 50px;
  }

  p {
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
    color: black;
  }

  .carousel {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
    padding: 10px;
  }
}
