<div class="target-choose">
  <p>Вы выбрали</p>
  <div class="machines">
    <div class="machine">
      <img [src]="currentCategory ? currentCategory.imgUrl : currentMachine.imgUrl" [alt]="currentMachine.name">
      <span>{{currentCategory ? currentMachine.name + ', ' + currentCategory.name : currentMachine.name}}</span>
    </div>

        <div class="machine" *ngIf="currentAttachment">
      <img [src]="currentAttachment.imgUrl" [alt]="currentAttachment.name">
      <span>{{currentAttachment.name}}</span>
    </div>
    <div class="machine" *ngIf="!currentAttachment">
      <span>Без дополнительного оборудования</span>
    </div>
  </div>
</div>

<form [formGroup]="myForm">
  <label for="place">Место</label>
  <input formControlName="place" type="text" placeholder="Где будем работать?" id="place">

  <label for="date">Дата</label>
  <input formControlName="date" type="date" id="date" placeholder="Когда нужна техника?">

  <label for="phone">Номер телефона</label>
  <input formControlName="phone" type="text" id="phone" [imask]="{mask: '+{375}(00)000-00-00', lazy: false}">

  <button *ngIf="!telegramService.tg.initDataUnsafe.user" [disabled]="!myForm.valid" (click)="onclick()">Заказать</button>

</form>
