:host {
  .target-choose {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;

    p {
      margin: 0;
      font-size: 17px;
      padding-left: 5px;
      padding-bottom: 5px;
    }

    .machines {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;

      .machine {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 10px;

        img {
          width: 100%;
        }

        span {
          font-size: 15px;
        }
      }
    }

  }

  form {
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;

    button {
      margin-top: 20px;
      width: 97%;
      height: 35px;
      border-radius: 10px;
      border: 1px solid #e5e5e5;
      background: #f3da22;
      color: #000000;
      font-family: "Jura", sans-serif;

      &:disabled {
        filter: grayscale(.75);

        &:hover {
          cursor: default;
          border: 1px solid #e5e5e5;
        }
      }

      &:hover {
        cursor: pointer;
        border: 1px solid #000000;
      }
    }
  }
}

label{
  display: block;
  padding-top: 25px;
  font-size: 17px;
  font-weight: 500;
  color: black;

  &:first-child {
    padding-top: 0;
  }

  span {
    display: block;
    font-size: 15px;
  }
}

input, select {
  border: 1px solid #e5e5e5;
  font-family: "Jura", sans-serif;
  display: block;
  height: 40px;
  width: 95%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 10px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 300;
  color: black;
  padding-left: 8px;
}

select {
  width: 100%;
}

option {
  background-color: rgba(255,255,255,0.07);
  color: black;
}
::placeholder{
  color: black;
  font-size: 17px;
}
