<div class="content">

  <label>Выберите технику</label>

  <div class="carousel">
    <label>
      <input type="radio" name="machine" value="1" checked>
      <img src="assets/img/1.png" alt="Option 1">
    </label>

    <label>
      <input type="radio" name="machine" value="2">
      <img src="assets/img/2.png" alt="Option 2">
    </label>

    <label>
      <input type="radio" name="machine" value="3">
      <img src="assets/img/3.png" alt="Option 3">
    </label>

    <!--        <label>-->
    <!--            <input type="radio" name="machine" value="4">-->
    <!--            <img src="img/4.png" alt="Option 4">-->
    <!--        </label>-->
  </div>

  <label for="place">Место</label>
  <input type="text" placeholder="Где будем работать?" id="place">

  <label for="date">Дата</label>
  <input type="date" id="date">

  <label for="phone">Номер телефона</label>
  <input type="text" placeholder="+375(__) _______" id="phone">

  <!--    <button id="sendButton">Send</button>-->
</div>
