<form [formGroup]="myForm" class="content">
  <div class="machine-block">

    <div *ngIf="!machineControl.value; else attachmentBlock" [@myAnimation]>
      <label>Выберите технику</label>
      <div class="carousel" [style]="isMachinesLoaded ? 'display: flex' : 'display: none'">
        <label *ngFor="let machine of machines$ | async as machines">
          <input type="radio" name="machine" [value]="machine" formControlName="machine" checked>
          <img [src]="machine.imgUrl" [alt]="machine.name" (load)="showImages(machines.length)">
          <span>{{machine.name}}</span>
        </label>
      </div>
    </div>

    <ng-template #attachmentBlock>
      <div [@myAnimation] [style]="isAttachmentsLoaded ? 'display: block' : 'display: none'">
        <label>Выберите оборудование</label>
        <div class="carousel">
          <label *ngFor="let attachment of machineControl.value.attachments as attachments; let index = index">
            <input type="radio" name="attachment" [value]="attachment" formControlName="attachment" checked>
            <img [src]="attachment.imgUrl" [alt]="attachment.name" (load)="showImages(attachments.length, false)">
            <span>{{attachment.name}}</span>
          </label>
        </div>
      </div>
    </ng-template>
  </div>

  <label for="place">Место</label>
  <input formControlName="place" type="text" placeholder="Где будем работать?" id="place">

  <label for="date">Дата</label>
  <input formControlName="date" type="date" id="date">

  <label for="phone">Номер телефона</label>
  <input formControlName="phone" type="text" placeholder="+375(__) _______" id="phone">

<!--          <button id="sendButton" (click)="send()">Send</button>-->
</form>
