.content {
  font-size: 18px;
  padding: 0 7px 20px 7px;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;

  .machine-block {
    min-height: 20vh;

    .carousel label {
      text-align: center;
    }
  }
}

label{
  display: block;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #e5e5e5;

  span {
    display: block;
    font-size: 15px;
  }
}

input, select {
  font-family: "Comfortaa", sans-serif;
  display: block;
  height: 55px;
  width: 93%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 7px;
  padding-left: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 300;
  color: #e5e5e5;
}

select {
  width: 100%;
}

option {
  background-color: rgba(255,255,255,0.07);
  color: #e5e5e5;
}
::placeholder{
  color: #e5e5e5;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  //filter: blur(3px);
  background-color: white;
  border: 1px solid #fcc800;
  transition: all 200ms ease-in;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  //filter: grayscale(100%);
  transition: all 200ms ease-in;
  height: 200px;
  margin: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.carousel {
  width: 100%;
  display: flex;
  overflow: auto;
}
