:host {
  p {
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 500;
    color: black;
  }

  .carousel {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
    padding: 10px;
  }
}
