/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  color: var(--tg-theme-text-color);
  background-color:  var(--tg-theme-bg-color);
  font-family: "Comfortaa", sans-serif;
  background-color: black;
}
